#!/usr/bin/make -f

export DH_GOPKG := github.com/vanilla-os/apx
export GO111MODULE := on
export GOPROXY := https://proxy.golang.org,direct

%:
	dh $@

override_dh_install:
	dh_install
	ln -sf /usr/bin/apx debian/apx/usr/bin/apx2
	make install-manpages DESTDIR=debian/apx/

override_dh_auto_build:
	go mod download	
	dh_auto_build --
