#!/usr/bin/make -f

export DH_GOPKG := github.com/vanilla-os/apx
export GO111MODULE := on
export GOPROXY := on

%:
	dh $@

override_dh_install:
	dh_install
	make install-manpages DESTDIR=debian/apx/

override_dh_auto_build:
	go mod download	
	dh_auto_build --
